.laptopWithText{
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.laptopWithText__laptop{
    position: relative;
}
.laptop{
    z-index: 1;
}
.laptopWithText__sites {
    background-image: url(../img/laptopBG.png);
    background-position: center;
    width: 74.9%;
    height: 81.1%;
    position: absolute;
    top: 6.2%;
    left: 12.6%;
    overflow: hidden;
}
.main__image-site {
    position: absolute;
    width: 34%;
    height: 32%;
    border-radius: 3%;
    overflow: hidden;
}
.main__image-site:hover{
    opacity: 0.8;
}
.main__image-1{
    top: 1%;
    left: -8%;
    animation: animate1 40s linear infinite;
}
@keyframes animate1{
    25%{
        left: -43%;
    }
    25.001%{
        display: none;
        left: 97%;
    }
    50%{
        left: 62%;
    }
    75%{
        left: 27%;
    }
    100%{
        left: -8%;
    }
}


.main__image-2{
    top: 1%;
    left: 27%;
    animation: animate2 40s linear infinite;
}
@keyframes animate2{
    25%{
        left: -8%;
    }
    50%{
        left: -43%;  
    }
    50.001%{
        display: none;
        left: 97%;
    }
    75%{
        left: 62%;
    }
    100%{
        left: 27%;
    }
}

.main__image-3{
    top: 1%;
    left: 62%;
    animation: animate3 40s linear infinite;
}
@keyframes animate3{
    25%{
        left: 27%;
    }
    50%{
        left: -8%;  
    }
    75%{
        left: -43%;
    }
    75.001%{
        display: none;
        left: 97%;
    }
    100%{
        left: 62%;
    }
}
.main__image-4{
    top: 1%;
    left: 97%;
    animation: animate4 40s linear infinite;
}
@keyframes animate4{
    25%{
        left: 62%;
    }
    50%{
        left: 27%;  
    }
    75%{
        left: -8%;
    }
    100%{
        left: -43%;
    }
    100.001%{
        display: none;
        left: 97%;
    }
}




.main__image-5{
    top: 34%;
    left: -8%;
    animation: animate1 20s linear infinite;
}
.main__image-6{
    top: 34%;
    left: 27%;
    animation: animate2 20s linear infinite;
}
.main__image-7{
    top: 34%;
    left: 62%;
    animation: animate3 20s linear infinite;
}
.main__image-8{
    top: 34%;
    left: 97%;
    animation: animate4 20s linear infinite;
}


.main__image-9{
    top: 67%;
    left: -8%;
    animation: animate1 35s linear infinite;
}
.main__image-10{
    top: 67%;
    left: 27%;
    animation: animate2 35s linear infinite;
}
.main__image-11{
    top: 67%;
    left: 62%;
    animation: animate3 35s linear infinite;
}
.main__image-12{
    top: 67%;
    left: 97%;
    animation: animate4 35s linear infinite;
}